%p.error
  Unfortunately, it looks like the image you specified is not yet geotagged (no latitude and longitude values were found). 
  Please head over to Flickr and 
  =link_to("put it on the map.", url)
  Then come back here and try again.
  
=link_to(image_tag("tips/add_to_map.jpg"), url)
