@import blueprint.sass
@import blueprint/modules/scaffolding.sass
@import compass/reset.sass

+blueprint

// Remove the scaffolding when you're ready to start doing visual design.
// Or leave it in if you're happy with how blueprint looks out-of-the-box
//+blueprint-scaffolding

!header_color = #000
!link_color = #000
!border_color = #000
!red = #990000

!light_text = #5a3910

body
  :background white url(../images/paper.jpg) repeat
  :color black
  :margin 20px 20px 80px 20px
  :font-family Georgia, serif

hr
  :color black
  :background-color black
  :border-color black

.light
  :color = !light_text

div
  &.header
    :float none
    :clear both
    :overflow hidden
    h1
      :float left
    ul
      :float right
      li
        :list-style-type none
        :float left
        :margin 0 10px
        &.first
          :margin-right left
        &.last
          :margin-right right
        a
          :font-size 1.2em
      
  &.column
    :width 500px
    p
      :font-size 1.1em
      :margin 0 10px 10px 10px
    ul
      :margin 0 0 10px 30px
      li
        :font-size 1.1em
    h2
      :margin 15px 0 2px 10px
      :color = !red    
    a
      :text-decoration underline
  &.thirds
    :margin-top 10px
    :float none
    :clear both
    :overflow hidden
    div
      :float left
      :width 32%
      :margin-right 10px
      :border-top 5px solid black
      :border-color = !header_color
    h2
      :margin-left 0

h1, h2, h3, h4, h5, h6
  :margin-left 10px
  :color = !header_color
  :font-family Georgia, serif

a
  :color = !header_color
  :text-decoration none
  &:visited
    :color = !header_color
  &:hover
    :color = !red
    :text-decoration line-through

  
h1
  :font-size 2.4em
  a
    :padding 5px 0px
          
h2
  :font-size 1.5em
  
a, a.visited, a.active, a.hover
  :color = !link_color
  
p.error
  :color = !red
  :border-color = !red
  :background-color transparent

form
  :width 500px
  div
    :padding 5px 10px
    input.text
      :margin 1px
      :width 100%
      :font-family "Lucida Grande", Verdana
    label
      :display block
      :clear both
      :font-weight normal
      :color = !light_text
    textarea
      :margin 0
      :width 100%
      :font-family "Lucida Grande", Verdana
      :font-size 1em
      
      
div
  &.google_map
    :height 450px
  &.map
    :float left
    :margin 20px 10px
    :display block
    :width 200px
    h2
      :margin 0
    p
      :margin 0
  &.bubble_content
    :width 200px
    :padding 5px
    a
      :color = !red
      :font-size .9em
  
img
  &.thumb
    :border 1px solid white
  &.map_thumbnail
    :border-bottom 5px solid black
  
ul.spot_list
  :margin 0
  :float none
  :clear both
  :overflow hidden
  li
    :width 150px
    :float left
    :list-style-type none
    :vertical-align middle
    :margin 0 0 5px 0
    a
      :font-size 1.1em
      :float left
      :display block
      :margin 10px 0px 0px 6px
      &.image
        :margin 0