%div.column

  %p
    Trajet Collé 
    %em (tra-zhay co-lay),
    meaning 'pasted trip', is an ongoing collaborative experiment in printmaking, 
    graffiti, mapmaking, and community space.
    
  %p
    The project began in my printmaking class: Our assignment was 
    to post our screenprinted images in a manner that raised awareness of the divide 
    between public and private space. This is one of my prints..
    
  = image_tag("velo_print.png")